* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
}

.container {
    margin: 60px 50px;
    padding: 5px;
}

.header-container {
    text-align: center;
}

.header-container .title-1 {
    font-weight: 200;
}

.header-container .title-2 {
    font-weight: 600;
}

.header-container p {
    padding: 15px 250px;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

.supervisor {
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    width: 300px;
    height: 200px;
    position: relative;
    top: 90px;
    border-top: 3px solid hsl(180, 62%, 55%);
    box-shadow: 0 6px 4px 0 rgb(75, 74, 74);
}

.supervisor p {
    color: hsl(229, 6%, 66%);
    font-weight: 200;
}

.supervisor img {
    width: 20%;
    position: relative;
    top: 50px;
    left: 85%;
}

.team-builder {
    background-color: white;
    padding: 20px;
    width: 300px;
    height: 200px;
    position: relative;
    left: 35%;
    bottom: 198px;
    border-top: 3px solid hsl(0, 78%, 62%);
    box-shadow: 0 6px 4px 0 rgb(75, 74, 74);
}

.team-builder p {
    color: hsl(229, 6%, 66%);
    font-weight: 200;
}

.team-builder img {
    width: 20%;
    position: relative;
    top: 50px;
    left: 85%;
}

.karma {
    background-color: white;
    padding: 20px;
    width: 300px;
    height: 200px;
    position: relative;
    left: 470px;
    bottom: 170px;
    border-top: 3px solid hsl(34, 97%, 64%);
    box-shadow: 0 6px 4px 0 rgb(75, 74, 74);
}

.karma p {
    color: hsl(229, 6%, 66%);
    font-weight: 200;
}

.karma img {
    width: 20%;
    position: relative;
    top: 50px;
    left: 85%;
}

.calculator {
    background-color: white;
    padding: 20px;
    width: 300px;
    height: 200px;
    position: relative;
    left: 69%;
    bottom: 512px;
    border-top: 3px solid hsl(212, 86%, 64%);
    box-shadow: 0 6px 4px 0 rgb(75, 74, 74);
}

.calculator p {
    color: hsl(229, 6%, 66%);
    font-weight: 200;
}

.calculator img {
    width: 20%;
    position: relative;
    top: 50px;
    left: 85%;
}

main {
    position: relative;
    left: 3%;
}

@media (width: 375px) {
    .container {
        width: 100%;
        margin-top: 20px;
        margin-left: 50%;
        margin-right: 50%;
        position: relative;
        top: 0;
        right: 165px;
    }
    .header-container {
        padding: 10px;
        margin-right: 25px;
    }
    .header-container p {
        padding: 20px;
    }
    .supervisor {
        position: relative;
        top: 0;
        left: 0;
    }
    .team-builder {
        position: relative;
        top: 15px;
        left: 0;
    }
    .karma {
        position: relative;
        top: 30px;
        left: 0;
    }
    .calculator {
        position: relative;
        top: 45px;
        left: 0;
    }
}
